nav
  width: 100%
  box-shadow: 3px 0px 2px 3px $footer-grey
  .nav-container
    max-width: 1280px
    margin: 0 auto
    height: 80px
    display: flex
    align-items: center
    justify-content: space-between
    padding: 2%
    .nav-logo
      margin-right: 2%
      cursor: pointer
      text-decoration: none
      color: $text-content
      font-size: 32px
      font-weight: 900
      +breakpoint(mobile)
        display: none
    img
      width: 24px
      height: 24px
    .search-container
      min-width: 300px
      border: 1px solid $footer-grey
      height: 50px
      border-radius: 25px
      display: inline
      position: relative
      #search
        border: none
        background: transparent
        border-radius: 5px
        height: 50px
        width: 100%
        outline: none
        padding-left: 5%
      button
        position: absolute
        top: 6.5px
        right: 7px
        border-radius: 50%
        width: 35px
        height: 35px
        border: none
        background: $mainPink

        .search-icon
          width: 15px
          height: 15px
          line-height: 35px
          margin-bottom: 4px
    .nav-options
      width: 20%
      min-width: 200px
      margin-left: 2%
      display: flex
      justify-content: space-between
      +breakpoint(mobile)
        background: $mainPink
        position: absolute
        z-index: 1
        width: 100%
        bottom: 0
        left: -2%
        height: 60px
        display: flex
        justify-content: space-around
        align-items: center
      img
        cursor: pointer
